# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environments
venv/
ENV/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode
.vscode/
